.navbar_components {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.resolvo_text {
    color: #E81548;
}

.navbar_buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button_seperator {
    margin-left: 5%;
    margin-right: 5%;
}

.contact_us_button,
.our_projects_button {
    text-decoration: none;
    border: none;
    padding: 1.05rem 2rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
    font-family: 'Rubik', sans-serif;
    background-color: #E81548;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.our_projects_button {
    background-color: transparent;
    border: 0.2rem solid #E81548;
}


.contact_us_button:hover,
.our_projects_button:hover {
    cursor: pointer;
    opacity: 0.95;
}

@media only screen and (max-width: 750px) {
    .navbar_components {
        display: grid;
        text-align: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 750px) {
    .contact_us_button, .our_projects_button {
        display: none;
    }
}