@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900&display=swap');

.top_section {
  margin-top: 10%;
}

.header_text {
  display: flex;
  margin-bottom: 0px;
  font-size: 4rem;
  color: #E81548;
  padding-top: 5%;
  justify-content: center;
}

.description_text {
  display: flex;
  opacity: 0.85;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.solvio_example_text {
  display: flex;
  margin-bottom: 0px;
  font-size: 3rem;
  color: #6C60FF;
  justify-content: center;
}

.default_medium_text {
  display: flex;
  opacity: 0.85;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.top_section_text {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5rem;
  color: #E81548;
  justify-content: center;
}

.top_section_text_small {
  display: flex;
  opacity: 0.85;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.top_section_text_medium {
  display: flex;
  opacity: 0.85;
  font-size: 2.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.top_section_buttons {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

.get_in_touch_button {
  border: none;
  padding: 1.05rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  background-color: #E81548;
}

.get_in_touch_button:hover {
  cursor: pointer;
  opacity: 0.95;
}

.view_examples_button {
  border: none;
  padding: 1.05rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: 0.2rem solid #E81548;
}

.view_examples_button:hover {
  cursor: pointer;
  opacity: 1;
}

.example_section_buttons {
  display: flex;
  margin-top: auto;
  justify-content: center;
  margin-bottom: 5%;
}

.solvio_view_website_button {
  text-decoration: none;
  border: none;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  background-color: #6C60FF;
}

.solvio_view_website_button:hover {
  cursor: pointer;
  opacity: 0.95;
}

.solvio_other_button {
  border: none;
  text-decoration: none;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: 0.2rem solid #6C60FF;
}

.a_tag_text {
  padding: 1.1rem;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.solvio_other_button:hover {
  cursor: pointer;
  opacity: 1;
}

.button_seperator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button_arrow {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.middle_section {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.examples_section {
  margin-top: 10%;
  padding-bottom: 5%;
}

.question_and_answer_section {
  margin-top: 10%;
  margin-bottom: 5%;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bottom_section {
  width: 100%;
  background-color: #242529;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.solvio {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #1D1E22;
  padding: 1rem;
}

.example_top_section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.image_container {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.example_details {
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 3.5%;
}

.tag {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #242529;
}

.example_section_buttons {
  display: flex;
  flex-direction: row;
}

.solvio_view_website_button,
.solvio_other_button {
  margin-right: 0.5rem;
}

.resolve_problems {
  margin: auto;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 15%;
}

.solve_once_text {
  font-size: 2.4rem;
  margin-bottom: 1%;
  text-align: center;
}

.solve_once_description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
}

.contact_us {
  margin: auto;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.contact_us_text {
  font-size: 2.4rem;
  margin-bottom: 1%;
  text-align: center;
}

.contact_us_description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
}

.email_us_button {
  text-decoration: none;
  border: none;
  padding: 1.05rem;
  font-size: 1rem;
  color: #FFFFFF;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 0.5rem;
  width: 15%;
  font-family: 'Rubik', sans-serif;
  background-color: #E81547;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.email_button_us_container {
  margin-top: 3%;
}

.at_icon {
  margin-right: 5%;
  vertical-align: middle;
}

.code_editor_image {
  margin-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.code_editor_image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 1451px) {
  .image_background {
    display: none;
  }
}

@media (max-width: 768px) {
  .solvio {
    padding: 0.5rem;
  }

  .example_top_section {
    flex-direction: column-reverse;
  }

  .tags {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .image_container {
    max-width: 100%;
  }
}

.example_header_text {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.example_header_text_2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.tag p {
  margin-bottom: 0;
}

.example_header_text,
.example_text_url {
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
}

.url {
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  text-decoration: none;
}

.example_text_url {
  font-size: 1.5rem;
}

.white_dot {
  color: #FFFFFF;
}

.image_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

.background_image {
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
}

.top_section {
  position: relative;
  z-index: 1;
}

.header_seperator {
  margin-bottom: 3%;
}

.text_row {
  display: flex;
  flex-direction: row;
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

.slideInFromLeft {
  animation: slideInFromLeft 1s ease forwards;
}

.scaleIn {
  animation: scaleIn 1s ease forwards;
}

.fadeOut {
  animation: fadeOutAnimation 1s ease-in-out forwards;
}

.solvio_app_icon {
  width: 100%;
}
